<div id="page-content" class="page-content">
			<div id="page-content-scroll">

						<div class="pageapp-login" ng-controller="ResetPassCtrl as ctrl">
							<a href="#" class="pageapp-login-logo"> <img
								src="theme/images/preload-logo.png">
							</a>
							<form name="resetPasswordForm" novalidate 
								ng-submit="ctrl.resetPassword(resetPasswordForm)"
								autocomplete="off">
								<div class="pageapp-login-input">
									<input type="text" name="oldPass" placeholder="Old Password"
										id="oldPass" ng-model="ctrl.reset.oldPass" ng-minlength="3"
										required="required">
								</div>
								<div class="pageapp-login-input">
									<input type="text" name="newPass" placeholder="New Password"
										id="newPass" ng-model="ctrl.reset.newPass" ng-minlength="3"
										required="required">
								</div>
								<div class="pageapp-login-input">
									<input type="text" name="confirmNewPass"
										placeholder="Confirm New Password" id="confirmNewPass"
										ng-model="ctrl.reset.confirmNewPass" ng-minlength="3"
										required="required">
								</div>
								<div class="pageapp-login-links">
									<div class="clear">&nbsp;</div>
								</div>
								<input type="submit"
									class="buttonWrap button button-green contactSubmitButton no-bottom"
									value="SUBMIT" />
							</form>
						</div>
					</div>
				</div>

