   
<div id="page-content">
    <div id="page-content-scroll"><!--Enables this element to be scrolled -->        
                
        <div class="page-fullscreen bg-2">
            <div class="page-fullscreen-content">
                <div class="page-splash">
                    <img data-original="images/preload-logo.png" class="preload-image scale-hover" alt="img">
                    <h1 class="color-white">Welcome</h1>
                    <h2 class="color-red-dark">Power & Simplicity</h2>
                    <p class="color-white center-text opacity-75">
                        Welcoem to our page, this is just a splash screen, but you can go ahead
                        and check out some of our pages! Let's start with the homepage!
                    </p>
                    <a href="#home" class="scale-hover color-white border-white"><i class="fa fa-home"></i></a>
                </div>
            </div>
            <div class="overlay dark-overlay"></div>
        </div>
        
    </div>  
</div>
